.mar{
    border: 1px solid black;
    margin-top: 500px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 80px;
    background-color: lightblue;
    /* margin: 300px 20px  500px 100px; */
}