.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: green;
    outline-width: 5px;
}
.ex2{
    border: 1px solid black;
    outline-style: solid;
    outline-color: green;
    outline-width: thin;
}
.ex3{
    border: 1px solid black;
    outline-style: solid;
    outline-color: green;
    outline-width: medium;
}
.ex4{
    border: 1px solid black;
    outline-style: solid;
    outline-color: green;
    outline-width: thick;
}